DISABLE_AUTO_TITLE="true"

# keep aliases in seperate file
source $HOME/.zsh-aliases

# Customize to your needs...
export PATH=/usr/local/git/bin:/usr/local/bin:/usr/local/sbin:/usr/local/mysql/bin:/usr/bin:/bin:/usr/sbin:/sbin:/usr/local/bin:/usr/X11/bin

# Add RVM to PATH for scripting
export PATH=$PATH:$HOME/.rvm/bin 

# Add Go to Path
export PATH=$PATH:/usr/local/go/bin
export PATH=$PATH:$GOPATH/bin

# Add case insensitive autocomplete
zstyle ':completion:*' matcher-list '' 'm:{a-zA-Z}={A-Za-z}' 'r:|=*' 'l:|=* r:|=*'
autoload -Uz compinit && compinit

export EDITOR="nvim"
export GEM_EDITOR="nvim"
export GOPATH=$HOME/Repos/Go

alias nvim-joew="NVIM_APPNAME=JoeW \nvim"
alias nvim="nvim-joew"
alias vim="nvim-joew"

# Load starship prompt
eval "$(starship init zsh)"
